@media screen and (max-width: 375px) {
    /* .navbar .container-fluid {
        justify-content: unset;
        gap: 20px;
    } */
    /* .navbar-collapse {
        width: 100%;
    }
    .navbar-nav {
        flex-direction: column !important;
        width: 100%;
    }
    .navbar-brand, .navbar-toggler {
        margin-bottom: 10px;
    }
    .navbar .navbar-brand svg {
        margin-right: 0;
    } */
    .carrossel, .item {
        width: 100%;
    }
        
    :root{
         --leftIni:65%;
    }
}
@media screen and (max-width: 480px) {
    :root{
         --leftIni:80%;
    }
}

/* @media screen and (max-width: 700px) {
    :root{
         --leftIni:78%;
    }
} */